{% extends 'base.html' %}

{% block title %}
    Index page
{% endblock %}

{% block content %}
    <ul>
        {% for menu in all_menu %}
            <li><a href="{{ menu.get_url }}">{{ menu.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}